---
layout: default
title: Home
---

  {% for post in paginator.posts %}
  <div class="post">
    <h1><a href='{% if post.link %}{{ post.link }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}'>{{ post.title }}</a></h1>
    <small class="text-secondary">
      <a href="{{ site.baseurl }}{{ post.url }}" class="post-date">{{ post.date | date: "%e %B %Y" }}</a>
      {% if post.categories %}
        •
        {% for category in post.categories %}
          <a href="{{ site.baseurl }}/categories/#{{ category|slugize }}">{{ category }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
      {% endif %}
    </small>

    {{ post.content }}
  </div>
  {% endfor %}

  <div class="pagination mb-5 d-flex justify-content-between">
    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}/page{{paginator.next_page}}">← Older</a>
    {% else %}
      <span class="text-muted">← Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.baseurl }}/">Newer →</a>
      {% else %}
        <a href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer →</a>
      {% endif %}
    {% else %}
      <span class="text-muted">Newer →</span>
    {% endif %}
  </div>
