---
layout: page
title: Archive
---

<section class='archive'>

{% for post in site.posts %}

    {% assign currentYear = post.date | date: "%Y" %}
    {% assign currentMonth = post.date | date: "%B" %}
    {% if currentYear != lastYear %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h3 id='archive-{{ currentYear }}'>{{ currentYear }}</h3>
    {% endif %}
    {% if currentMonth != lastMonth %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h4 id='archive-{{ currentYear }}-{{ currentMonth }}'>{{ currentMonth }}</h4>
        <ul>
    {% endif %}

    <li><a href="{{ post.url }}">{{ post.title }}</a> <span class='post-date'>{{ post.date | date: "%e %B %Y" }}</span></li>
    {% if forloop.last %}</ul>{% endif %}

    {% assign lastYear = currentYear %}
    {% assign lastMonth = currentMonth %}

{% endfor %}

</section>
