<head>

  <title>
  {% if page.title == "Home" %}
   {{ site.title }} &middot; {{ site.tagline }}
  {% else %}
   {{ page.title }} &middot; {{ site.title }}
  {% endif %}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Ben Cardy">
  <meta name="description" content="{{ site.tagline }}">
  {% if page %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.image %}
  <meta property="og:image" content="{{ site.baseurl }}{{ page.image }}">
  {% endif %}
  {% endif %}
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jockey+One|Roboto:400,400italic,700&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="RSS" href="/feed.xml">

</head>
