/* Colors */

:root {
    --bs-primary-rgb: 211, 45, 103;
    --bs-link-color: rgb(211, 45, 103);
    --bs-link-hover-color: rgb(211, 45, 103);
    --bs-body-color: rgb(81, 81, 81);
    --bs-code-color: var(--bs-orange);
    --bs-font-sans-serif: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --_hypercard-scale: 1.1;
    --bs-body-line-height: 1.6;
}

/* Container */

@media (min-width: 1400px) {
    .container {
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

/* Footer */

.footer {
    height: 5px;
    background-color: rgb(var(--bs-primary-rgb));
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Post layout */

hr { margin: 2rem 0; border-top: 1px dashed }

.post, .pagination {
    max-width: 720px;
    margin-bottom: 5rem;
}

.post:not(.single-post) {
    border-bottom: 1px dashed rgba(var(--bs-primary-rgb), 0.3);
}

.post {
    padding-bottom: 2rem;
}

/* Fonts */

.navbar-brand, h1, h2, h3, h4, h5, h6, .event .title {
    font-family:  "Roboto Slab";
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 100;
}

.post h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.post h1 + small {
    margin-bottom: 1rem;
    display: block;
    opacity: 0.75;
}

.post h2 { font-size: 1.4rem; }
.post h3, .post h4, .post h5, .post h6 { font-size: 1.2rem; }

.post h2 code, .post h3 code, .post h4 code, .post h5 code, .post h6 code {
    color: var(--bs-body-color);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 80%;
}

blockquote {
    padding: 0.5rem 1rem;
    color: #7a7a7a;
    border-left: 0.2rem solid #e5e5e5;
}

.post blockquote p:last-child {
    margin-bottom: 0;
}

/* Page layout */

.page h1 {
    margin-bottom: 1rem;
}

.page h3, .page h2 {
    font-size: 1.6rem;
    color: rgb(var(--bs-primary-rgb));
    border-bottom: 1px dashed rgb(var(--bs-primary-rgb));
    margin-top: 2rem;
}

.page h2 small {
    color: var(--bs-body-color);
    float: right;
    opacity: 0.5;
}

.page ul {
    list-style: none;
    padding-left: 0;
}

.page ul li a {
    color: var(--bs-body-color);
}

.page ul li span {
    float: right;
}

/* Code */

pre {
    display: block;
    padding: 1rem;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
}

pre code {
    padding: 0;
    background-color: transparent;
}

.highlight .hll {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    background-color: rgb(241, 213, 222);
}

/* Links */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post-date, .post-date:hover {
    color: var(--bs-secondary);
}

a.headerlink {
    margin-left: 5px;
    opacity: 0;
}

h1:hover a.headerlink, h2:hover a.headerlink, h3:hover a.headerlink, h4:hover a.headerlink, h5:hover a.headerlink, h6:hover a.headerlink {
    opacity: 0.5;
}

/* Images */

img {
    max-width: 100%;
    border-radius: 5px;
}

/* Almanac */

.almanac-page {
  max-width: initial;
}

.almanac {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.2rem;
}

.almanac > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    aspect-ratio: 1 / 1.5;
    background-color: rgba(var(--bs-primary-rgb), 0.1);
    background-position: 50% 0;
    overflow: hidden;
}

.almanac h3 {
    background-color: rgb(var(--bs-primary-rgb));
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.almanac h3 small {
    opacity: 0.3;
}

.almanac .title {
    padding: 1rem;
}

.almanac .event {
    transition-duration: 150ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
}

.almanac .event:hover {
    transform: scale3d(var(--_hypercard-scale), var(--_hypercard-scale), var(--_hypercard-scale));
    box-shadow: 0 5px 20px 5px #00000044;
}

.almanac .event.has-image .title {
    opacity: 0;
    /*transition-duration: 150ms;
    transition-property: opacity;
    transition-timing-function: ease-out;*/
}

.almanac .event.has-image:hover .title {
/*    opacity: 1;*/
}

@media (max-width: 1200px) {
    .almanac {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 600px) {
    .almanac {
        grid-template-columns: repeat(3, 1fr);
    }
}
